footer {
    background-color: $colorFooter;
    /* box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.5); */
    color: $color6;
    text-align: center;
    
    p {
        font-size: 1.3em;
        text-align: center;
    }
    
    ul {
        display: flex;
        justify-content: center;
        
        li {
            list-style: none;
            
            a {
                color: $color6;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    img {
        height: 40px;
        margin: 15px;
    }
}